<div class="contenedorUsuario">
<p id="notice"><%= notice %></p>

<div class="energias">

  <h1><%= image_tag "robot-01.png", alt: "Robot" %>¡Próximamente! <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></h1>

</div>
</div>